<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= badge.badge_type %></td>
  <td class="align-middle"><%= octicon badge.image_url %></td>
  <td class="align-middle"><%= t('badges.index.received') if badge.user_badges.count > 0 %></td>
</tr>
