<div class="card mb-4 mt-4">
  <div class="card-header">
    <%= @gist.question.body %>
  </div>

  <div class="card-body">
    <ol>
      <%= render partial: 'answer', collection: @gist.question.answers %>
    </ol>
  </div>
  <div class="card-footer">
    <%= link_to t('helpers.page.back'), admin_gists_path %> |
    <%= link_to t('.url'), @gist.gist_url %>
  </div>
</div>
