<div class="footer">
  <p><%= github_url('peterjj91', 'test-guru', 'TestGuru') %> &copy; <%= current_year %></p>

  <p>Educational project at online-school <a href="//www.thinknetica.com" target="_blank">Thinknetica</a></p>
</div>
