<p>Здравствуйте <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связываемся с вами, чтобы уведомить вас о том, что ваша электронная почта будет изменена <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связываемся с вами, чтобы сообщить вам, что ваша электронная почта была изменена на <%= @resource.email %>.</p>
<% end %>
